<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
</head>
<body class="m1">
{{{body}}}
</body>
</html>