<form action="/login" method="post">
    <div id="f1">
        <label>Username:</label>
        <input type="text" name="username" id="t1"><br>
        <label>Password:</label>
        <input type="password" name="password" id="t2"><br>
        <p>{{errors}}</p>
        <input type="submit"  id="b1">
    </div>
</form>
