<div id="form_info">
<form method="post" id="f_static">
<label> Input: </label>
    <input type="text" name="palindrome" placeholder="Enter a String"  id="palindrome" required>
    <button id="b1" type="submit">Submit</button>
</form>
</div>


<div class="form-group hidden" id="error-container">
    <div class="alert alert-danger text-goes-here">
    </div>
</div>
<div class="form-group hidden" id="result-container">
    <div class="alert alert-success text-goes-here">
    </div>
</div>

<div class="listclass">
    <ul id="p_checker"></ul>
</div>
<footer>
	<div class="info">
		Name: Megh Vankawala, Student_ID: 10421684, Email Id - <a href="mailto:mvankaw1@stevens.edu" id="email">mvankaw1@stevens.edu</a>, CS546-Lab-8
	</div>
</footer>