<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Palindrome Checker</title>
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
</head>
<body class="m1">
    <h1>PALINDROME CHECKER</h1>
    {{{body}}}
	<script src="/public/js/form.js"></script>
</body>
</html>